
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    text-align: center;
    color: #364f6b;
    #canvas{
        border: solid;
        border-radius: 8px;
        box-shadow: 1px 1px 18px 1px rgb(0, 0, 0);
        border-color: #00ff2a;
        background-color: #01470d;
    }
    
}